@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Shishodia Family</p>
    <p>To</p>
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 d-flex justify-content-center mb-5">

            <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="all">All</button>
            <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="1">Amit</button>
            <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="2">Babita</button>
            <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="3">Vibhu</button>
            <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="4">Madhav</button>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
    <!-- Grid row -->
    <div class="gallery" id="gallery">
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="mb-3 pics animation all 3">
            <img class="rounded img-thumbnail" src="~/images/2.jpeg" alt="Card image cap">
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="mb-3 pics animation all 1 2">
            <img class="rounded img-thumbnail" src="~/images/1.jpeg" alt="Card image cap">
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="mb-3 pics animation all 2">
            <img class="rounded img-thumbnail" src="~/images/4.jpeg" alt="Card image cap">
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="mb-3 pics animation all 2 4">
            <img class="rounded img-thumbnail" src="~/images/3.jpeg" alt="Card image cap">
        </div>
        <div class="mb-3 pics animation all 1 2">
            <img class="rounded img-thumbnail" src="~/images/A&B.jpeg" alt="Card image cap">
        </div>
        <div class="mb-3 pics animation all 4">
            <img class="rounded img-thumbnail" src="~/images/Aarab.jpeg" alt="Card image cap">
        </div>
        <div class="mb-3 pics animation all 3">
            <img class="rounded img-thumbnail" src="~/images/v1.jpeg" alt="Card image cap">
        </div>
        <div class="mb-3 pics animation all 4">
            <img class="rounded img-thumbnail" src="~/images/ar1.jpeg" alt="Card image cap">
        </div>
        <div class="mb-3 pics animation all 1">
            <img class="rounded img-thumbnail" src="~/images/am1.jpeg" alt="Card image cap">
        </div>
        <div class="mb-3 pics animation all 1">
            <img class="rounded img-thumbnail" src="~/images/am2.jpeg" alt="Card image cap">
        </div>
        <div class="mb-3 pics animation all 1">
            <img class="rounded img-thumbnail" src="~/images/am3.jpeg" alt="Card image cap">
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
</div>
